apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api-deployment
spec:
  replicas: 2 # Run 2 instances of our application
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
      - name: iris-api
        image: us-central1-docker.pkg.dev/southern-lane-473106-m4/iris-api-repo/iris-api:manual-test # Placeholder for your image
        ports:
        - containerPort: 80

